:root {
    --main-bg-color : rgb(183, 185, 146);;
    --second-bg-color : #ffcf553a;
    --third-bg-color : #dbd2d02a;
    --fourth-bg-color : #7e9240;
    --fifth-bg-color : #cfe0d5b0;
    --sixth-bg-color : #d0ddd400;
    --seventh-bg-color : #cfe0d5a1;
    --font: 'poppins', sans-serif;
    --header-font: 'georgia', serif;
}

body::before {
	background-image: url(./wall.jpg);
    background-size: 100vw 100vh;
	position: absolute;
    background-position: center;
    background-repeat: no-repeat; background-attachment: fixed;
    position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
    z-index: -1;
	content: "";
    overflow-x: hidden;
}

body {
    display : flex;
    flex-direction : row;
     flex-wrap : wrap; 
    font-family: var(--font);
   
    
    -webkit-text-stroke-color: var(--main-bg-color);
    -webkit-text-stroke-width: 0.1px;
   
   
    
       
}


#shannon {
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
   
}
.headshot::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    bottom: 10px;
    left: 0;
    border-radius: 10px;
    background-color: var(--fifth-bg-color);
    z-index: -1;
   
}
.headshot {
   max-width: 782px;
    padding : 10px;
    margin : 10px;
    max-height: fit-content;
    display:   flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    flex-grow: 1;
    line-break:normal;
    line-height: 1.5;
    
    
    font-family: var(--font);
    font-style: normal;
    border-radius: 10px;
}
#headshot {
    font-family: var(--font);
    
}
#bold {
    font-weight: bolder;
    
    font-family: var(--header-font);
    
}
#italic {
    font-style: italic;
    font-family: var(--font);
    
}





.headshot img {
    max-height: 200px;
    align-self: self-start;
    margin: auto;
    margin-top: 10px; ;
    margin-bottom: 0;

}
.headshot #headshot {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    
    overflow: wrap;
    max-width: 240px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
    
    font-family: var(--font);
    
    margin: 10px;
    padding: 10px;
    max-width: 880px;
    max-height: 620px;
    


}

.intro::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 15px;
    bottom: 0;
    left: 0px;
    border-radius: 10px;
    
   
    background-color: var(--fifth-bg-color);
   
    
    z-index: -1;
}
.intro {
    position: relative;
   margin-bottom: 16px;
    
    
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    border-radius: 10px;
    line-height: 2;
    font-size: 20pt;
    font-weight: bolder;
    font-family: var(--header-font) ;
    


    
}

.intro #intro {
    text-align: left;
    overflow: wrap;
    width: 95%;
    font-family: var(--font);
    font-size: 15pt;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-indent: 15px;
    box-sizing: border-box;
    
}

.reviews::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    bottom: 0;
    left: 0px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--fifth-bg-color);
    
    
    z-index: -1;
}
.reviews {
    flex-grow: 1;
    font-size: 13pt;
    
    
    width: 100%;
    background-size: cover;
    
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text within the elements */
    position: relative;
    overflow: hidden;
    font-family: var(--font);
    p {
        text-align: center;
        font-size: 12pt;
        font-weight: 1000;
        padding: 70px;
        line-height: 1.5;
        
        font-family: var(--font);
        box-sizing: border-box;

        
    }
   
    
}

.reviews > button {
    margin: 10px;
    font-family: var(--font);
}
.reviews span {
    font-style: italic;
    font-family: var(--header-font);
    font-size: 15pt;
}
#prev, #next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    z-index: 6;
   
}
#prev {
    position: absolute;
    left: 10px; /* Position on the left side */
}

#next {
    position: absolute;
    right: 10px; /* Position on the right side */
}

#prev::before, #next::before {
    content: '';
    display: flex;
    flex-grow: 1;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 10px;
}

#prev::before { /* For the "previous" button */
    transform: rotate(135deg); /* Arrow pointing left */
}

#next::before { /* For the "next" button */
    transform: rotate(-45deg); /* Arrow pointing right */
}
#charmaine {
   
    
    visibility: visible;
    display: none;
    z-index: -1;
    width: 100%;
    text-align: center;
    align-self: center;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    
    font-family: var(--font);
}

#jacob {
    visibility: hidden;
    display: none;
    z-index: -1;
    margin-top: 10px;
    text-align: center;
    align-self: center;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: center;
    align-content: center;
    margin: 10px;
    width: 100%;
    font-family: var(--font);
}
#sarah {
    visibility: hidden;
    display: inline-block;
    z-index: 1;
    margin-top: 10px;
    text-align: center;
    align-self: center;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: center;
    align-content: center;
    margin: 10px;
    width: 100%;
    font-family: var(--font);
    
    
}
.igcontainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 10px;
    left: 0px;
    margin-top: 15px;
    border-radius: 10px;    
    background-color: var(--fifth-bg-color);
    border-radius: 10px;
    z-index: -1;
}   
.igcontainer {
    position: relative;
    padding : 10px;
    margin : 10px;
    max-height: fit-content;
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: right;
    flex-shrink: 0;
   
    -webkit-text-stroke-color: black;
    border-radius: 10px;
   
    font-family: var(--font);
   
    .profile {
        margin-top: 20px;
        padding-top: 35px;
        margin-right: 15px;
       
      
    }

    
    p {
        
        text-align: center;
        margin-right: 15px;
     font-size: 15pt;
       margin-top: 25;
       
        
        font-family: var(--header-font);

        
    }

}


.box {
    
    padding : 10px;
    margin : 10px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 86vw;
    font-family: var(--font);
    overflow: hidden;
    
  
}
.images {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    img {
        width: 25%;
        height: 100%;
        object-fit: cover;
}
#cake {
    opacity: 0.7;
    
    
}
#weight {
    opacity: 0.7;
}


 }
#box {
    height: 250px;
   
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    font-family: var(--font);
}

h1 {
    justify-content: center;
    text-align: center;
    background-color: var(--sixth-bg-color);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20pt;
    font-family: var(--header-font);
    text-transform: capitalize;

    
}
 ul {
    padding: 5px; 
     
    margin: 5px 0; 
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: auto;
    
    justify-content: center;
    font-size: medium;
    font-weight: 200;
    font-style: normal;
    background-color: var(--fifth-bg-color);
    border-radius: 50px;
    font-family: var(--font);
}

li {
    list-style: none; 
    padding: 5px; 
    margin: 015px; 
    font-size: 15pt;
    font-family: var(--font);
    background-color: var(--fifth-bg-color);
    border-radius: 10px;
    font-family: var(--font);
    
}


.last {
   
  gap: 10px;
    
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: right;
    flex-grow: 1;
    flex-shrink: 1;
    word-wrap: normal;
    line-break: normal;
    background-color: var(--fifth-bg-color);
    border-radius: 10px;
    font-family: var(--header-font);
    
    
}


.lastli {
    
    border: none;

    
    
    --webkit-text-stroke-color: black;
    font-weight: bold;
    font-family: var(--font);
    
  
}

.lastlist {
    overflow: hidden;
    
}
.lastlist .lastli a {
   
   
   
       color: rgba(105, 11, 105, 0.726);
       text-decoration: none;
       border: black 1px solid;
       padding: 10px;
       border-radius: 20px;
       background-color: rgba(212, 0, 255, 0.055);
       box-shadow: 5,-2px 5px rgba(0, 0, 0, 0.5);
       
       
   }
   

 .lastli:hover {
    transform: scale(1.05);
    transition: 0.5s;
   
    
    
   
   
   
    
}

@media screen and (max-width: 1606px) {
   
    button {
        transform: scale(0.5);
    }
        
    #prev {
            position: absolute;
            left: -10px; /* Position on the left side */
            padding: 0px;
            margin: 0px;
        }
        
        
        
    #next {
            position: absolute;
            right: 0px; /* Position on the right side */
        }
    
    .headshot {
        order: 1;
        max-height: 500px;
        padding: 0px;
        padding-bottom: 25px;
        
    }

    .container {
        order: 3;
        flex-grow: 1;
        padding: 0px;
        margin: 15px;
        width: 100%;
        max-width: 100%;
        max-height:max-content;
        box-sizing: border-box; 
        
       .intro #intro {
       line-height: 2;
        overflow: break-word;
        max-width: 100%;
        font-family: var(--font);
       }
    
        
    }
    
.reviews {
    flex-grow: 1;
    font-size: 13pt;
    height: 100%;
    border-radius: 10px;
    width: 90%;
    background-size: cover;
    border: rgba(0, 0, 0, 0.308) solid 1px;
    background-color: var(--fifth-bg-color);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text within the elements */
    position: relative;
    overflow: hidden;
    font-family: var(--font);
    
    p {
        text-align: center;
        font-size: 12pt;
        
        padding: 55px;
        line-height: 2;
        
        font-family: var(--font);
        

        
    }
    #prev {
        left: 20px;

    }
   
    
}
    
    .igcontainer {
        order: 2;
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-grow: 1;
        max-height: 500px;
        padding: 0;
        padding-bottom: 25px;
        
    }
    
    .profile {
        margin-top: 0;
        padding: 0;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        background: none;
        
        

       
      

        
        .instagram-media {
            margin: 0;
            padding: 0;
          
        }
    }
    .instagram-media img {
        margin: 0;
        padding: 0;
        width: 100%;
        
    }
    .instagram-media iframe,
     .instagram-media img {
   width: 100%;
  height: auto; 
}
    .igbox {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        padding-bottom: 0;
        margin-top: 0;
        background: none;
        width: 100%; 
        max-width: 100%; 
    }
    
    #ig {
        text-align: center; /* Centers text horizontally */
        background: none;
        margin-top: 5px;
        margin-bottom: 30px;
        
    }


    
    
    .box {
        order: 4;
    }
    .last {
        order: 5;
    }
}

@media screen and (max-width: 812px) { 
    .images {
        img {
            width: 50%;
            height: 100%;
            object-fit: cover;
        }
       
#weight, #cake {
    display: none;
    visibility: hidden;
}}
.headshot {
    padding-right: 10px;
    img {
    transform: scale(.75);
    }
    p {
        font-size: small;
        
    }

    
    

    
    
    

    
}

}

@media screen and (max-width: 768px) { body { overflow-x: hidden; } } 
@media screen and (max-width: 927px) {
    .intro {
        font-size: 16;
    }
    .intro #intro {
        font-size: 12pt;
        
        line-height: 1.8;
    }
    
}
@media screen and (max-width: 612px) {
    .headshot #headshot {
        max-width: 90%;
    }
    .lastli a {
        font-size: medium;
    }
    
}
@media screen and (max-width: 463px) { 
    body {
        
            overflow-x: hidden;
        
    
       .intro::before, .igcontainer, .container, .box, .last {
            width: 100%;
            max-width: 100%;
            padding: 0;
            margin-left: 0;
            margin-right: 0;

        }
        .profile #ig{
            max-width: 100%;
            padding: 0;
            margin: 0;
            flex-shrink: 1;

        }
        .images  {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        #scrape {
            display: none;
            visibility: hidden;
        }
        #poke {
            opacity: 0.5;
        }
        .lastli a {
            font-size: small;
        }
        
}}

    