:root {
  --header-height: 70px;
  --footer-height: 30px;
}
* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}
main, .el  {
  min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
  max-height: calc(100vh - (var(--footer-height) + var(--header-height)));
   
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: 50px auto 25px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 
  "hd hd hd hd hd hd hd  hd hd"
  "mn mn mn mn mn mn mn  sb sb"
  "ft ft ft ft ft ft ft  ft ft";
  background-color: black;

  

}
.el {
  
  display: grid;
}
.header {
  
  grid-area: hd;
  place-content: center;
  color: beige;
  display: grid;
  
}
.container {
  grid-area: mn;
  
}
aside {
  grid-area: sb;
  background-color: aqua;
  color: blue;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium';
  place-content: start;
  }
  


.footer {
  grid-area: ft;
  place-content: center;
  background-color: aliceblue;
  color: black;
  text-align: center;
  
}

.box {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}
.container {
  display: grid;
  min-height: 400px;
  grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: minmax(100px, 1fr); 
  grid-area: mn;
}
.box:first-child {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 1/3;
  min-width: 100px;
  max-width: 1fr;
  
}
.box:nth-child(2) {
  background-color: blanchedalmond;
  grid-column: 2/3;
  grid-row: 1/4;
  
  
  
}


.ul {
  list-style-position: inside;
  place-content: center;
  display: inline;
  text-align: center;
  font-size: 1vw;
  
  
  
 
}
.rates {
     
  list-style-position: inside;
  place-content: center;
  display: inline;
  text-align: center;
  font-size: 1vw;
}
p {
  text-align: center;
  font-size: 1vw;
  overflow: wrap;
  word-wrap: break-word;
  
}
#c {
  color: black;
}

  
.instagram-media {
 
  
  fill: white;
  width: 90%;
  height: 90%;
  object-fit: cover;
  padding: 0%;
}
.h2 {
padding: 20px; ;
 font-size: 1.5vw;
 place-content: center;
 text-align: center;
 display: inline;
 
 
}
li {  
  margin: 10px;
  
}


img
{
 position:fixed;
 bottom:40%;
 right:50%;
 opacity:0.5;
 z-index:99;
 color:white;
 height: 200px;
 
}